<dom-module id="fixed-header-table">
  <style>
    #tableWrapper {
      overflow-x: auto;
      margin: 48px;
    }

    table {
      margin: 0 auto;
      border-collapse: collapse;
      background-color: white;
      overflow: auto;
    }

    table, th, td {
      border: 2px solid lightgrey;
    }

    .wrapper {
      max-height: 500px;
      overflow-y: scroll;
    }

    th, td {
      padding: 12px;
    }
  </style>

  <template>
    <div id="tableWrapper">
      <table id="table">
        <thead>
          <tr>
            <template is="dom-repeat" items="[[headers]]">
              <th>[[item]]</th>
            </template>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" id="rows" items="[[rows]]" as="row">
            <tr>
              <td>[[row.id]]</td>
              <td>
                <ul>
                  <template is="dom-repeat" items="[[row.violationArray]]">
                    <li>[[item]]</li>
                  </template>
                <ul>
              </td>
              <template is="dom-repeat" items="[[row.info]]">
                <td class="result-tb-data">[[item]]</td>
              </template>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </template>

  <script>
    Polymer({
      is: "fixed-header-table",

      eFreezeHeader: function() {
        var table = this.$.table;
        var header = table.cloneNode(true);
        header.setAttribute("class", "frozen-table-header");
        var body = header.querySelector("tbody");
        header.removeChild(body);
        header.style.width = table.offsetWidth + "px";
        var left = 0;
        var elem = table;
        while (elem) {
          left += elem.offsetLeft;
          elem = elem.offsetParent;
        }
        header.style.left = left + "px";
        header.style.top = "64px";

        var newHeaders = header.querySelectorAll("th");
        var oldHeaders = table.querySelectorAll("th");

        for (var i = 0; i < newHeaders.length; i++) {
          newHeaders[i].style.width = oldHeaders[i].offsetWidth + "px";
        }

        this.$.tableWrapper.appendChild(header);
        this._freezedHeader = header;
        this._freezedTableHeader = true;
      },

      eUnfreezeHeader: function() {
        this.$.tableWrapper.removeChild(this._freezedHeader);
        this._freezedTableHeader = false;
      },

      getOffsetTop: function() {
        return this.$.table.offsetTop;
      },

      isFreezedTableHeader: function() {
        return this._freezedTableHeader;
      },
    });
  </script>
</dom-module>
