<!DOCTYPE HTML>
<html>
<head>
  <title><%= appTitle %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Jquery -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>

  <!--  Load webcomponents-lite.min.js for polyfill support. -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

  <!-- Normailze stylesheet for cross-browser support -->
  <link rel="stylesheet" src="http://normalize-css.googlecode.com/svn/trunk/normalize.css">

  <!-- Server variables -->
  <script>
    var appName = "<%= appName %>";
    var appPath = "/" + appName + "/";
  </script>

  <style>
    * {
      box-sizing: border-box;
    }

    .frozen-table-header {
      margin: 0 auto;
      border-collapse: collapse;
      background-color: white;
      position: fixed;
      table-layout: fixed;
    }
  </style>

  <!-- Components, Styles and Scripts import -->
  <link rel="import" href="components/components.vulcanized.html">
  <script src="javascripts/scripts.js"></script>

  <!-- My components in development, until sourcemaps support vulcanize -->
  <link rel="import" href="components/custom-style.html">
  <link rel="import" href="components/fixed-header-table.html">

</head>
<body class="fullbleed layout vertical">
  <template id="event-listener" is="dom-bind">
    <paper-drawer-panel class="drawer-panel">
      <paper-scroll-header-panel main condenses keep-condensed-header on-paper-header-transform="eHeaderTransform">
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <div class="middle middle-container center horizontal layout">
            <span class="app-name"><%= appTitle %></span>
          </div>
          <div class="bottom bottom-container center horizontal layout">
            <div class="bottom-title paper-font-subhead">(.﹒︣︿﹒︣.) I'm on the verge of giving up ~(｡☉︵ ಠ@)></div>
          </div>
        </paper-toolbar>
        <div class="content">
          <div>
            <button on-click="getData">Get Data!</button>
          </div>
          <fixed-header-table></fixed-header-table>
        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>
  </template>
</body>
</html>
